.fixed-menu {
  display: none;
}

@media only screen and (min-width : 780px) {
  .fixed-menu {
    width: 80px;
    height: 100%;
    background: #303030;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 100;

    .menu-item {
      width: 80px;
      color: #5BC3C4;
      display: block;
      font-size: 2em;
      padding: 15px 0;
      text-transform: uppercase;
    }

    .menu-item-icon {
      width: 100%
    }

    .menu-item-name {
      display: none;
    }
  }
}
